<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
这是主页
<!--<div th:text="${session.session_user.getUsername()}"></div> &lt;!&ndash;获取session中的userName &ndash;&gt;-->


    <!--<table th:each="i:${users}" >-->
        <!--<tr>-->
            <!--<td>id</td>-->
            <!--<td th:text="${i.getId()}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>name</td>-->
            <!--<td th:text="${i.getUsername()}"></td>-->
        <!--</tr>-->
        <!--<tr >-->
            <!--<td>realname</td>-->
            <!--<td th:text="${realname}"></td>-->
        <!--</tr>-->
    <!--</table>-->

</body>
</html>