<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.family1.mapper.userMapper" >

    <!--用户登录验证-->
    <select id="userLogin" parameterType="user" resultType="com.zy.family1.entity.user">
        SELECT id,username,password,email FROM user WHERE username = #{username} AND password = #{password}
    </select>

    <!--新用户注册  方式1-->
    <insert id="addUser" parameterType="user"  keyProperty="id">
        INSERT INTO user (username,password,email) VALUES (#{username},#{password},#{email})
    </insert>

    <!--修改用户信息-->
    <update id="modifyUser" parameterType="com.zy.family1.entity.user" >
      update user
      set username = #{username},
      password = #{password},
      email = #{email}
    where id = #{id,jdbcType=INTEGER}

    </update>

</mapper>

